pre,div {
  display:none;
}
html, body {

	background:#AAA;
	color:#000;
}

body {
	background:#fff;
	/*
	width:210mm;
	height:297mm;
	border:1px solid grey;
	*/
h1 {
	display:block;
	font-size:32pt;
	z-index:1;
	position:relative;
}

h2 {
	z-index:1;
	position:relative;
      }
pre {
	font-size:18pt;
	font-family:Courier, monospace;
	z-index:1;
	position:relative;
}
span {
	display:inline-block;
	color:red;
}

.circle {
	transform:rotate(4deg);
	/*border:2px solid red*/
	outline:2px solid red;
	outline-offset:5px;
	border-radius:12px;
}

.wa-16 {
	font-family: Times New Roman, serif;
	font-weight: 400;
	background: linear-gradient(#b6b6b6 0%, #5f5f5f 20%, #b1b1b1 30%, #fff 64%, #6c6c6c 65%, #373737 66%, #515151 67%, #787878 75%, #d2d2d2 80%, #d2d2d2 100%);
	background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

img {
	width:600px;
	mix-blend-mode:hard-light;
	z-index:20;
	position:relative;
}

#moving_div {
	width:600px;
	height:500px;
	background-color:crimson;
	margin-top:-500px;
	margin-left:14px;
	position: absolute;
	z-index:0;
}
